<div class="image-container">
  <img src="{{this.dataValues.img_link}}" class="card-img" alt="Burger picture">
  <button id = {{this.dataValues.id}} class="btn btn-primary burger-btn" data-eaten="{{eaten}}" value = "{{this.dataValues.id}}" {{disabled}}>{{this.dataValues.burger_name}} <br> {{text}}<br> Eaten by {{this.dataValues.Customer.customer_name}}</button> 
</div>